@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap')

$dark-blue: #244588
$blue: #4369b2
$ligh-blue: #88a7e2
$white: #dbf2ff
$transparent: #ffffff00

=text-style-1
  font-family: 'Lato', sans-serif

@mixin flex-it($justify-content, $align-items)
  align-items: $align-items
  display: flex
  justify-content: $justify-content


html
  *
    background-color: $blue
    box-sizing: border-box
    color: $white
    font-family: 'Duru Sans', sans-serif
    font-size: 20px
    margin: 0
    padding: 0

.more-link
  +text-style-1
  display: block
  font-weight: bolder

  &:hover
    color: $dark-blue
    text-decoration: none

body
  +flex-it(space-around, center)
  flex-direction: column
  margin: 0 auto
  min-width: 360px

  .welcome-page
    +flex-it(space-around, center)
    flex-direction: column
    height: 100vh

    h1
      +flex-it(space-around, center)
      flex-direction: column
      font-size: 35px
      text-align: center
      text-transform: capitalize

    .main-page-link
      +flex-it(space-around, center)
      color: $white
      flex-direction: column

      &:hover
        text-decoration: none
        transform: scale(1.1)
        transition: transform 1s

    i
      bottom: 50px
      position: relative
      transform: scale(4)

.query-page
  +flex-it(space-around, center)
  color: $white
  flex-direction: column
  height: 80vh
  padding-top: 5%

  i
    transform: scale(3)

  .query
    input
      +text-style-1
      background-color: $white
      border: 0
      border-radius: 15px
      color: $dark-blue
      font-size: 20px
      font-weight: bold
      height: 35px
      outline: none
      text-align: center

  h1
    padding: 10px
    text-align: center

  .symbols
    +flex-it(space-around, center)
    width: 300px

.results-page
  +flex-it(space-around, center)
  flex-direction: column
  padding-top: 4%

  h2
    +text-style-1
    background-color: $dark-blue
    font-size: 2rem
    font-weight: bolder
    padding: 5%
    text-align: center

  p
    padding: 4%

  .select-box
    +flex-it(space-between, center)
    width: 260px

    select
      +text-style-1
      background-color: $white
      border: 0
      border-radius: 10px
      color: $dark-blue
      font-weight: bolder
      text-align: center

  .container-fluid
    padding-top: 3%

    *
      color: $dark-blue

    .results
      padding: 0
      padding-top: 3%

      .result-card
        background: linear-gradient(0deg, $blue 0%, $white 84%, $white 100%)
        padding: 5%

      i
        background-color: $transparent
        font-size: 2rem

      .media-body,
      .more-link
        background-color: $transparent

      .more-link
        text-align: right
