@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap')

$dark-blue: #244588
$blue: #4369b2
$ligh-blue: #88a7e2
$white: #dbf2ff

=text-style-1
  color: $black-three
  font-family: 'Lato', sans-serif
  font-size: 13px


*
  background-color: $blue
  box-sizing: border-box
  color: $white
  font-family: 'Duru Sans', sans-serif
  font-size: 20px
  margin: 0
  padding: 0

